@font-face {
  font-family: Font;
  src: url('/Font.ttf');
}
@font-face {
  font-family: Oleo;
  src: url('/Oleo.ttf');
}
@font-face {
  font-family: Outrun;
  src: url('/Outrun.otf');
}

html,
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: Oleo !important;
  overflow-y: hidden;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}

/* s
  Styles and animations adapted from:
    - https://codepen.io/inegoita/pen/BgdXMw
    - https://codepen.io/syndicatefx/pen/AWOWmx
*/

@keyframes blip {
  0% {
    height: 100%;
    opacity: 100;
  }
  50% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 100%;
    opacity: 100;
  }
}

@keyframes gradient {
  0% {
    background-position: 0vh 50vw;
  }
  50% {
    background-position: 100vh 50vw;
  }
  100% {
    background-position: 0vh 50vw;
  }
}

@keyframes moving-grid {
  0% {
    transform: perspective(50vh) rotateX(60deg) translateZ(10px)
      translateY(-var(--grid-size));
  }
  100% {
    transform: perspective(50vh) rotateX(60deg) translateZ(10px)
      translateY(var(--grid-size));
  }
}

.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  align-items: center;
  justify-content: center;
  background-color: #2b1165;
  background: linear-gradient(
    180deg,
    #2b1165 0%,
    rgba(26, 58, 130, 1) 37%,
    rgba(171, 36, 177, 1) 69%,
    #f54171 100%
  );
}

.sun {
  width: 40vh;
  height: 40vh;
  font-size: 1rem;
  border-radius: 20vh;
  position: relative;
  overflow: hidden;
  top: calc(20vh);
  left: calc(50vw - 20vh);
}
.sun:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 50%;
  background-color: #f54171;
  background: linear-gradient(
    0deg,
    #2b1165 0%,
    rgba(26, 58, 130, 1) 37%,
    rgba(171, 36, 177, 1) 69%,
    #f54171 100%
  );
  background-size: 40vh 40vh;
  width: 100%;
}

.grid {
  position: absolute;
  bottom: -30%;
  left: 0;
  margin-left: -50%;
  width: 200%;
  height: 100%;
  background-position-y: 0px;
  background-image: repeating-linear-gradient(
      90deg,
      var(--grid-color, black) 0%,
      transparent calc(1px + var(--grid-blur, 0px)),
      transparent var(--grid-size),
      var(--grid-color, black)
        calc(var(--grid-size) + 1px + var(--grid-blur, 0px))
    ),
    repeating-linear-gradient(
      180deg,
      var(--grid-color, black) 0%,
      transparent calc(1px + var(--grid-blur, 0px)),
      transparent var(--grid-size),
      var(--grid-color, black)
        calc(var(--grid-size) + 1px + var(--grid-blur, 0px))
    );
  transform: perspective(50vh) rotateX(60deg) translateZ(10px);
  animation: moving-grid 0.5s infinite linear;
  will-change: transform;
  z-index: -1;
  backdrop-filter: blur(0.5px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.75) 12.5%,
    rgba(0, 0, 0, 0.3) 55%,
    rgba(0, 0, 0, 0) 100%
  );
}

.triangle {
  position: absolute;
  content: '';
  bottom: var(--triangle-offsetY, 0px);
  left: calc(var(--triangle-height, 0) + var(--triangle-offset, 0px));
  border-left: calc(var(--triangle-base) / 2) solid transparent;
  border-bottom: var(--triangle-height, 100px) solid
    var(--triangle-color1, white);
  border-top: 0px solid transparent;
  border-right: calc(var(--triangle-base, 100px) / 2) solid transparent;
  transform-origin: bottom;
  transform: skewX(var(--triangle-tilt, 0deg));
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.rectangle {
  position: absolute;
  content: '';
  bottom: var(--rectangle-offsetY, 0px);
  left: var(--rectangle-offset, 0px);
  width: var(--rectangle-width, 0px);
  height: var(--rectangle-height, 0px);
  background-color: var(--rectangle-color, white);
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.curved-top {
  position: absolute;
  content: '';
  bottom: calc(var(--rectangle-offsetY, 0px) + var(--rectangle-height, 0px));
  left: var(--rectangle-offset, 0px);
  width: var(--rectangle-width, 0px);
  height: 5vh;
  background: var(--rectangle-color, white);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.horizontal-line {
  position: fixed;
  top: calc(65vh - 2px);
  height: 3px;
  background: rgb(147, 22, 78);
  width: 100vw;
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
